@model Book
@using Bookshop_ASP.NET_Core_MVC_Application.Models
@using Bookshop_ASP.NET_Core_MVC_Application.Data
@inject BookshopDbContext DbContext
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" asp-controller="Books" method="post" enctype="multipart/form-data">
    <div>
        <label for="Title">Title:</label>
        <input type="text" name="Title" id="Title" required />
    </div>
    <div>
        <label for="Price">Price:</label>
        <input type="number" name="Price" id="Price" step="0.01" required />
    </div>
    <div>
        <label for="PublicationDate">Publication Date:</label>
        <input type="date" name="PublicationDate" id="PublicationDate" required />
    </div>
    <div>
        <label for="Description">Description:</label>
        <textarea name="Description" id="Description"></textarea>
    </div>
    <div>
        <label for="ImageUrl">Image URL:</label>
        <input type="url" name="ImageUrl" id="ImageUrl" />
    </div>
    <div>
        <label for="AuthorId">Author:</label>
        <select name="AuthorId" id="AuthorId" data-val="true">
            @foreach (var author in DbContext.Authors)
            {
                <option value="@author.Id">@author.FirstName @author.LastName</option>
            }
        </select>
    </div>

    <div>
        <label for="SelectedGenres">Genres:</label>
        <select name="SelectedGenres" id="SelectedGenres" multiple>
            @foreach (var genre in DbContext.Genres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
    </div>


    <!-- Add other form fields as needed -->
    <button type="submit">Save</button>
</form>